.logo {
  width: 54px;
  height: 54px;
  color: #30b5b5;
}

.features li::before {
  content: "";
  position: relative;
  top: 4px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url(../images/check-icon.png);
  background-size: cover;
}

.features li {
  margin-bottom: 8px;
}
